<footer class="text-center py-8 bg-slate-950 text-neutral-50">
	<div class="text-slate-300">
		<a href="/">EN</a> | <a href="/th/">TH</a>
	</div>
	<p>ศตคุณ อุตมะ &copy; 2024 สงวนลิขสิทธิ์</p>
	<div>เว็บไซต์ถูกสร้างขึ้นโดย {Astro.generator}</div>
	<div>
		ไอคอน GitHub เป็นของ GitHub Inc.
		เว็บไซต์นี้ไม่มีความสัมพันธ์หรือได้รับการรับรองอย่างเป็นทางการกับไซต์นี้
	</div>
</footer>

<style>
	a {
		transition: 250ms;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	a:hover {
		color: white;
	}
</style>
