<nav
	class="fixed bg-gradient-to-b from-slate-700 to-transparent w-full flex gap-4 md:gap-6 justify-center py-4 text-slate-50"
>
	<a href="#aboutme">เกี่ยวกับฉัน</a>
	<a href="#projects">โปรเจกต์</a>
	<a href="#contact">ติดต่อ</a>
</nav>

<style>
	a {
		@apply transition-colors hover:text-orange-300;
	}

	nav {
		z-index: 3;
	}
</style>

<script defer>
	document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
		anchor.addEventListener("click", function (e) {
			e.preventDefault();

			const href = anchor.getAttribute("href");
			if (href === null) return;

			const target = document.querySelector(href);
			if (target === null) return;

			target.scrollIntoView({
				behavior: "smooth",
			});
		});
	});
</script>
