@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./inter.css";

@theme {
	--font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
    --font-mono: "JetBrains Mono", "Cascadia Code", ui-monospace, monospace;
	--font-display: InterDisplay, var(--font-sans);
}

@supports (font-variation-settings: normal) {
	:root {
		--font-sans: "InterVariable", sans-serif;
		--font-display: "InterVariable", "InterDisplay", sans-serif;
		font-optical-sizing: auto;
	}
}

* {
	@apply print:text-black!;
}

h1,
h2,
h3 {
	font-family: var(--font-display);
	@apply print:bg-none! print:text-black!;
}

header {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	color: whitesmoke;
	min-height: 90vh;
	@apply md:px-32 px-16 flex flex-col justify-center text-center print:h-screen print:text-black;
}

section {
	@apply xl:px-40 md:px-32 px-14 md:py-24 py-16 print:py-8;
}

section h2 {
	@apply text-5xl font-bold;
}

#projectList {
	@apply flex flex-col gap-8 lg:px-40 print:gap-0;
}

#projects {
	@apply bg-gradient-to-br from-slate-900 to-slate-700 text-slate-50;
}

#projects h3 {
	@apply text-3xl font-semibold;
}

#projects > h2 {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	color: transparent;
	background-clip: text;
}

.card {
	@apply flex flex-col items-center gap-4;
}

.card-content {
	@apply flex flex-col gap-2;
}

.card-image {
	@apply md:flex items-center xl:w-[600px] md:w-[450px];
}

.card-links {
	@apply flex gap-3 md:gap-2 justify-center print:invisible;
}

.card-links a:hover img,
.card-links a:hover svg {
	filter: brightness(1);
}

.card-links img,
.card-links svg {
	filter: brightness(80%);
	transition: filter 250ms;
}

.tag {
	@apply bg-slate-800 border border-slate-500 px-2 py-1 rounded;
}

#aboutMeHeader {
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	color: transparent;
	background-clip: text;
}

#contact h2 {
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	color: transparent;
	background-clip: text;
}
