header {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: whitesmoke;
    min-height: 90vh;
    @apply md:px-32 px-16;
}

header,
#frameworks {
    @apply flex flex-col justify-center;
}

section {
    @apply xl:px-40 md:px-32 px-14 md:py-24 py-16;
}

section h2 {
    @apply text-5xl font-bold;
}

#projectList {
    @apply flex flex-col gap-2 lg:px-40;
}

#projects {
    @apply bg-gradient-to-br from-slate-900 to-slate-700 text-slate-50;
}

#projects h3 {
    @apply text-3xl font-semibold;
}

#projects>h2 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: transparent;
    background-clip: text;
}

#projects .card {
    @apply relative flex justify-between h-full lg:min-h-[350px] md:min-h-[300px];
}

#projects .card-content {
    z-index: 2;
    @apply px-6 py-4 transition-colors flex flex-col justify-center relative gap-3 w-full;
}

.card-content p {
    @apply bg-slate-800 border border-slate-700 px-4 py-2 rounded-lg box-border w-fit lg:max-w-[30vw] md:max-w-[40vw];
}

#litechat .card-image img {
    transform: translateY(10%);
}

.card-image {
    z-index: 1;
    display: none;
    @apply md:flex items-center xl:w-[600px] md:w-[450px] absolute right-0 translate-y-8 xl:translate-y-0;
}

.card-links {
    @apply flex gap-3 md:gap-2;
}

.card-links a:hover img,
.card-links a:hover svg {
    filter: brightness(1);
}

.card-links img,
.card-links svg {
    filter: brightness(80%);
    transition: filter 250ms;
}

#aboutMeHeader {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: transparent;
    background-clip: text;
}

#contact h2 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: transparent;
    background-clip: text;
}