<footer class="text-center py-8 bg-slate-950 text-neutral-50">
	<div class="text-slate-300">
		<a href="/">EN</a> | <a href="/th/">TH</a>
	</div>
	<p>Satakun Utama, &copy; 2024 All Rights Reserved</p>
	<div>Site built with {Astro.generator}</div>
	<div>
		The GitHub icon belongs to GitHub, Inc. This site is not officially
		affiliated or endorsed by GitHub.
	</div>
</footer>

<style>
	a {
		transition: 250ms;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	a:hover {
		color: white;
	}
</style>
